---
import Eventcard from "./Eventcard.astro";

import eventimg1 from "../assets/event_img1.webp";
import eventimg5 from "../assets/event_img5.webp";
import eventimg4 from "../assets/event_img4.webp";
---

<div class="grid">
  <Eventcard color="beige" date="22 juni" header="Hvidvin og Rosé aften på terassen" name1="Maria Kesby" name2="Kahlenberg & Christiansen" text="Din næste sommerfavorit venter. Kom og smag, hyg og nyd en masse fænomenale hvidvine samt rosévine i solen." eventimg={eventimg1} />
  <Eventcard date="27 September" header="Champagne og små anretninger" name1="Kasper Kahlenberg" name2="Kahlenberg & Christiansen" text="Kom med til en aften i særklasse, når vi inviterer til en eksklusiv champagnesmagning akkompagneret af delikate små anretninger." eventimg={eventimg5} />
  <Eventcard date="18 august" header="5-retters menu og vinmenu på Søllerød Kro" name1="Kahlenberg & Christiansen" name2="Søllerød Kro" text="Vi inviterer dig til en eksklusiv aften med sublime smagsoplevelser. Kokkene fra Søllerød Kro har sammensat en 5-retters menu med fokus på sæsonens bedste råvarer, og vi har været i vinkælderen og finde noget særligt frem til aftenen." eventimg={eventimg4} />
</div>

<style>
  .grid {
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-width: 1250px;
    margin: auto;
    width: 600px;
  }

  @media screen and (min-width: 1000px) {
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 10px;
      justify-content: space-evenly;
      max-width: 1300px;
      margin: auto;
      grid-template-rows: auto auto;
      padding: 0px 20px 40px 20px;
      width: auto;
    }
  }
</style>
