---
import Infocard from "./Infocard.astro";

const svg1 = "/icon/iconmail.svg";
const svg2 = "/icon/iconkontakt.svg";
const svg3 = "/icon/iconlocation.svg";
---

<section>
  <div class="overlay">
    <div class="infobody">
      <div class="infoheading">
        <h3>Vores information</h3>
        <p>Find alt du skal bruge for at få fat i os</p>
      </div>

      <div class="kontaktinfo">
        <Infocard class="infocard" text="Vi er altid åbne for nye samarbejder og gode samtaler om vin. Uanset om du leder efter noget specifikt til vinkortet, eller bare er nysgerrig på, hvad vi kan tilbyde, er du meget velkommen til at tage kontakt." header="Email" linktext="info@kahlenbergchristiansen.dk" link="mailto:info@kahlenbergchristiansen.dk" svg={svg1} />
        <Infocard class="infocard" text=" Har du spørgsmål eller brug for vejledning? Giv os et kald, vi står klar til at hjælpe dig med alt fra bestilling til vinsmagning." header="Telefon" linktext="+45 24 26 43 48" link="tel:+4524264348" svg={svg2} />
        <Infocard class="infocard" text=" Du finder os i hjertet af Kerteminde, her skaber vi vinoplevelser med passion og omtanke" header="Kontor" linktext="Kohaven 15, 5300 Kerteminde" link="" svg={svg3} />
      </div>
    </div>
  </div>
</section>

<style>
  section {
    background-image: url(/src/assets/producent_background.webp);
    background-size: cover;
    background-position: bottom;
    width: 100%;
  }

  .overlay {
    position: relative;
    background-color: #faedccab;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .infoheading {
    text-align: center;
    margin-bottom: 2rem;
  }
  .infobody {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    padding-block: 4rem;
    overflow: hidden;
  }

  .kontaktinfo {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
  }

  /* Card styling */

  h2 {
    font-size: clamp(2rem, 2vw, 2.5rem);
    margin-bottom: 0.5em;
  }

  .infocard p {
    font-size: clamp(1rem, 1.5vw, 1.15rem);
    line-height: 1.5;
    color: rgb(75, 75, 75);
  }

  /* Desktop */
  @media (min-width: 1200px) {
    .kontaktinfo {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
</style>
