---

---

<div class="formbaggrund">
  <form class="kontaktform">
    <h3>For generelle henvendelser udfyld her:</h3>

    <label for="navn">Navn</label>
    <input type="text" id="navn" name="navn" required />

    <label for="email">Email</label>
    <input type="email" id="email" name="email" required />

    <label for="emne">Emne</label>
    <input type="text" id="emne" name="emne" required />

    <label for="Besked">Besked</label>
    <textarea name="besked" id="besked" required></textarea>

    <button type="submit">Send</button>
  </form>
</div>

<style>
  form {
    padding: 2rem;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  .formbaggrund {
    background-image: url(/src/assets/formbaggrund.webp);
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 100%;
    margin: 0;
  }

  label {
    display: block;
    margin-top: 15px;
    font-size: 1.2rem;
    color: white;
  }

  input,
  textarea {
    width: 100%;
    padding: 12px;
    background-color: #faedcd;
    border: none;
    border-radius: 6px;
    margin-top: 5px;
    color: #000;
  }
  h3 {
    color: white;
  }
  textarea {
    height: 120px;
    resize: vertical;
  }

  button {
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid #fdf5e6;
    color: #fdf5e6;
    border-radius: 6px;
    cursor: pointer;
    width: 50%;
  }

  @media (max-width: 600px) {
    .kontaktform h3 {
      font-size: 1.8rem;
    }

    input,
    textarea {
      font-size: 1.1rem;
    }

    button {
      width: 60%;
    }
  }

  @media (max-width: 1024px) {
    button {
      width: 50%;
    }

    .kontaktform {
      width: 700px;
      padding: 50px;
    }
  }
</style>
