---
import OmOsProfilcards from "./Om_os_profilcards.astro";
import redlogo from "../assets/vektor/red_logo.svg";
import profilbillede1 from "../assets/profilbillede_thomas.webp";
import profilbillede2 from "../assets/profilbillede_maria.webp";
---

<section class="background">
  <div class="container">
    <h2>Hvem er Kahlenberg & Chrisiansen</h2>
    <h6>Mød personerne bag firmaet</h6>
    <div class="person-section">
      <OmOsProfilcards profilbillede={profilbillede1} header="Thomas Kahlenberg" title="Direktør" text="Thomas er medejer af Kahlenberg & Christiansen og har med sin baggrund i professionel fodbold en stærk forståelse for samarbejde og kvalitet. Hans passion for vin og øje for detaljer er med til at forme virksomhedens udvalg og tilgang." />
      <OmOsProfilcards profilbillede={profilbillede2} header="Maria Kesby" title="Bestyrelsesformand" text="Maria er medejer og bestyrelsesformand i Kahlenberg & Christiansen A/S. Med en stærk baggrund i ledelse og strategi bidrager hun til virksomhedens overordnede retning og udvikling." />
    </div>
    <div class="logo-section">
      <div class="logo-container">
        <img src={redlogo.src} alt="Company logo" class="logo" />
      </div>
    </div>
  </div>
</section>

<style>
  .background {
    background-color: var(--color-bg-red);
    padding-block: 4rem;
    padding-inline: 2rem;
    position: relative;
    overflow: hidden;
  }
  .container {
    max-width: 1200px;
    margin-inline: auto;
    box-sizing: border-box;
    color: var(--color-white);
    position: relative;
    z-index: 1;
  }

  .logo-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: -1;
  }

  .logo-container {
    max-width: 800px;
    width: 100%;
  }

  .logo {
    width: 100%;
    height: auto;
  }

  h2 {
    margin-bottom: 1rem;
  }
  h6 {
    margin-bottom: 1rem;
  }

  .person-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  @media (min-width: 800px) {
    .person-section {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    h6 {
      margin-bottom: 4rem;
    }
  }
</style>
