---
const { bgcolor } = Astro.props;
---

<section class={bgcolor}>
  <div class="grid"><slot /></div>
</section>

<style>
  .red {
    background: var(--color-bg-red);
    width: 100%;
  }
  .beige {
    background: var(--color-bg-beige);
    width: 100%;
    padding-top: 80px;
  }
  .grid {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }
  @media screen and (min-width: 1000px) {
    .grid {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 0.9fr 2fr;
      padding-bottom: 50px;
      max-width: 1200px;
      margin: auto;
      gap: 0px 166px;
    }
  }
</style>
