---
const { link } = Astro.props;
const { linktekst } = Astro.props;
const { color = "ared" } = Astro.props;
---

<a class={color} href={link}>{linktekst}</a>

<style>
  .ared {
    color: var(--color-black);
    background-color: var(--color-bg-beige);
    padding: 10px 24px;
    border-radius: 5px;
    border-color: var(--color-bg-beige);
    border-style: solid;
    text-align: center;
    cursor: pointer;
  }
  .abeige {
    color: var(--color-bg-beige);
    background-color: var(--color-bg-red);
    padding: 10px 24px;
    border-radius: 5px;
    border-color: var(--color-bg-beige);
    border-style: solid;
    text-align: center;
  }
  .alightred {
    color: var(--color-bg-beige);
    background-color: var(--color-red-light);
    padding: 10px 24px;
    border-radius: 5px;
    border-color: var(--color-bg-beige);
    border-style: solid;
    text-align: center;
    transition: all 0.5s ease-in-out;
  }

  .alightred:hover {
    background-color: var(--color-bg-beige);
    color: var(--color-red-light);
    transition: all 0.5s ease-in-out;
  }
  .atransparent {
    color: var(--color-black);
    border-radius: 5px;
    border-style: none;
  }
</style>
